<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is kobutor homepage</title>
    <style>
        img {
            width: 400px;
            height: 300px;
            margin-left: 450px;
        }
    </style>
</head>
<body>

    <h1 style="text-align:center;">Welcome to our Kobutor homepage</h1>

    <h3 style="text-align:center;">This is the homepage of {{user_name}}</h3>

    <div>
        {% load static %}
        <img src="{% static 'kapp/kobutor.jpeg' %}" alt="Kobutor pic" style="">
    </div>

    <a href="{% url 'kapp:login' %}">Logout</a>

</body>
</html>